- if @usuario.errors.any?
	.error_explanation
		.alert.alert-error
			El formulario contiene 
			= pluralize(@usuario.errors.count, "error")			
		- @usuario.errors.full_messages.each do |msg|
			%li
				*
				= msg
