%li
	= gravatar_for usuario, size: 52
	= link_to usuario.name, usuario
	- if current_usuario.admin? && !current_usuario?(usuario)
		| 
		= link_to "Borrar", usuario, method: :delete, data: { confirm: "Estas seguro?"}