- provide(:titulo, "Index")
.center.hero-unit
	%h1 Bienvenido al tuitor
	%h2 		
		Pagina principal de mi aplicacion
	= link_to "Registrate!", registro_path , class: "btn btn-large btn-primary"
= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org'